WINDOW_TITLE=\"raylib\"
WINDOW_SIZE_X=1024
WINDOW_SIZE_Y=576
TARGET_FPS=60

SPRITESHEET_FILE=\"resources/textures/spritesheet.png\"
SPRITESHEET_CELL_SIZE_X=16.0f
SPRITESHEET_CELL_SIZE_Y=16.0f
PIXEL_SIZE_X=4
PIXEL_SIZE_Y=4

BASE_VERT_SHADER=\"shaders/base.vert\"
BASE_FRAG_SHADER=\"shaders/base.frag\"
SHADER_FRAG_1=\"shaders/sample.frag\"

SFX_1=\"resources/sfx/sfx-1.wav\"
SFX_2=\"resources/sfx/sfx-2.wav\"
